@import "../bourbon/bourbon";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
//variables
$margin: 0 auto;
$overflow: auto;
$lime: #8AB85B;
$cream: #F0ECE1;
$green :darken($lime, 20%);
$dark-purple: complement($green);
$yellow: desaturate(#EFE685, 10%);
//extends
// %image {
//   max-width: 100%;
//   display: block;
// }
//mixins
@mixin image($width, $display) {
  max-width: $width;
  display: $display;
}



//scss
body {
  background-color: $yellow;
  // background: linear-gradient($lime, transparent 60%), linear-gradient(0deg, $cream, transparent 10%);
}

  h1, p, li {
    color: #2D2B2C;
    // text-shadow: 2px 2px 2px complement($yellow);
  }
// header {
//   img {
//     border-radius: 2px;
//   }
// }
.container {
  width: 95%;
  margin: $margin;
  font-family: $lucida-grande;
  .content {
    overflow: $overflow;
  }
}

.columns {
  margin: $margin;
  @media screen and (min-width: 600px){
    width: 49%;
    float: left;
    margin: 1% 1% 1% 0;
  }
  @media screen and (min-width: 1000px){
      width: 24%;
  }
  img {
    @include image(100%, block);
    border-radius: 3px;
    &:hover{
    border: 3px solid $lime;
   }
  }
  h3 {
    color: complement($yellow);
   }
}

.nav {
  #logo {
    color: $green;
    @media screen and (min-width: 600px){
      float: left;
    }
  }
  ul {
    /*float: right;*/
    list-style-type: none;
    overflow: $overflow;
    padding-left: 0;
    @media screen and (min-width: 600px){
      float: right;
      width: 30%;
      margin-top: 20px;
    }
    @media screen and (min-width: 1000px) {
      width: 25%;
    }
  }
  li {
    border-radius: 2px;
    display: inline;
    padding-right: 3%;
    &:hover {
      text-decoration: underline;
      background-color: $lime;
    }
  }
}

.header {
  clear: both;
  width: 100%;
  padding-left: 3%;
  margin-bottom: 10px;
  // @include box (10px, blue);
}
.lower {
  width: 49%;
  img {
    float:left;
    @include image(100%, block);
    border-radius: 3px;
    &:hover{
    border: 3px solid $lime;
  }
}
}
/* MEDIA QUERIES ------------ */

// @media screen and (min-width: 600px) {
//   #logo {
//     float: left;
//   }
//   ul {
//     float: right;
//     width: 30%;
//     margin-top: 20px;
//   }
//   .columns {
//     width: 49%;
//     float: left;
//     margin: 1% 1% 1% 0;
//   }
//
// }

// @media screen and (min-width: 1000px) {
//   .columns {
//     width: 24%;
//   }
//   ul {
//     width: 25%;
//   }
// }
